# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# =================== #
# 3rd party libraries #
# =================== #
Assets/PlayMaker/
Assets/Playmaker\ Animator/
Assets/UltimateFPSCamera/
Assets/iTween/
Assets/UFPS/
Assets/PlayMaker\ UltimateFPSCamera/
Assets/UniMerge
Assets/Editor/NoCompile
Assets/Editor/NoCompile.meta